.productDetailsPage {
  padding: 40px;
}

.productContainer {
  display: flex;
  gap: 40px;
  max-width: 1000px;
  margin: auto;
}

.imageSection img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.price {
  font-size: 22px;
  font-weight: bold;
  color: green;
}

.bookingBox {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bookingBox input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.estimate {
  font-weight: bold;
  margin-top: 10px;
}

.bookBtn {
  margin-top: 10px;
  padding: 12px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.bookBtn:hover {
  background-color: #1e40af;
}

/* date time input oolor to black */
.bookingBox input[type="datetime-local"] {
  color: black;
}