# Port Configuration
PORT=5000

# Database Configuration
MONGO_URI=

# JWT Secrets
JWT_SECRET=

# Google Authentication
GOOGLE_CLIENT_ID=

# Email Configurations (Nodemailer)
EMAIL_USER=
EMAIL_PASS=

# Razorpay Credentials
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
